<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Se ha ingresado una consulta desde <%= @order.email %>!</p>
    <p>Detalles:</p>
    <p>Nombre: <%= @order.name %></p>
    <p>Correo: <%= @order.email %></p>
    <p>Comentarios: <%= @order.comments %></p>
    <p>Telefono: <%= @order.phone %></p>

  </body>
</html>